body {
    background-color: #fafbfb;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: #121411;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 16px;
    width: auto;
    flex-wrap: wrap;
    text-align: center;
}

.welcome-heading {
    font-weight: 500;
    font-size: calc(1.2rem + 1.5vw);
}

.btn {
    font-size: 1rem;
    text-align: center;
    color: #fafbfb;
    background-color: #121411;
    border-radius: 2px;
    padding: 0.8125em;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn.logout {
    width: fit-content;
    min-width: 180px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
    width: 100%;
    max-width: 360px;
    box-sizing: border-box;
}


.form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fafbfb;
    border: 1px solid #ced4da;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.is-invalid {
    border-color: #dc3545;
}

.alert {
    width: 100%;
    border-radius: 2px;
    border: 1px #f1aeb5;
    color: #58151e;
    background-color: #f8d7da;
    max-width: 360px;
    padding: 8px 16px;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {

    .btn.logout{
        width: calc(100% - 48px);
        min-width: auto;
    }
}